.mobile-sign-in-modal {
    width:80vw;
    padding-top: 15px;
    position: fixed;
    z-index: 40;
    top: 10vh;
    left: 10vw;
    background: #fff;
    box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.mobile-mobile-header {
    margin-top: 10px;
}

.mobile-sign-in-modal p:first-of-type {
    color: orangered;
}

.mobile-modal-exit {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight:lighter;
    color: red;
}